.DS_Store
Backend/node_modules
Backend/.env
Frontend/node_modules
Frontend/.expo
Scrapping/Australia_GroceriesScraper/configuration.ini
Data Analysis/outputs/
Data Analysis/.ipynb_checkpoints/
Data Analysis/Data Analysis/
