project_id = "your-gcp-project-id"
region     = "australia-southeast1"

# Set to a multi-region like AU if preferred.
bucket_location      = "AU"
bucket_storage_class = "STANDARD"

default_labels = {
  application = "discount-mate"
  owner       = "platform"
}
