APP_OUTPUT_DIR=.output
APP_DESTINATIONS=local
APP_LOG_LEVEL=INFO
APP_BRANDS_PATH=config/custom/optimal_brands.yml

OTEL_ENABLED=true
OTEL_SERVICE_NAME=discount-mate-ingestion
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=

GCS_BUCKET=
GCS_PREFIX=discount-mate
GOOGLE_APPLICATION_CREDENTIALS=

ALDI_SITEMAP_URL=https://www.aldi.com.au/sitemap_categories.xml
ALDI_API_URL=https://api.aldi.com.au/v3/product-search
ALDI_CURRENCY=AUD
ALDI_PAGE_SIZE=30
ALDI_TIMEOUT_SECONDS=25
ALDI_DELAY_SECONDS=1

COLES_HOMEPAGE_URL=https://www.coles.com.au
COLES_BUILD_ID=
COLES_API_BASE_TEMPLATE=https://www.coles.com.au/_next/data/{build_id}/en/search/products.json
COLES_PAGE_SIZE=48
COLES_MAX_PAGES=8
COLES_TIMEOUT_SECONDS=20
COLES_DELAY_SECONDS_MIN=20
COLES_DELAY_SECONDS_MAX=80
COLES_COOKIE_STRING=
COLES_SCRAPERAPI_KEY=

IGA_BASE_URL=https://www.igashop.com.au
IGA_STORE_ID=206686
IGA_SHOPPING_MODE_COOKIE=Pickup
IGA_PAGE_SIZE=50
IGA_TIMEOUT_SECONDS=20
IGA_DELAY_SECONDS=0.5

WW_API_URL=https://www.woolworths.com.au/apis/ui/Search/products
WW_PAGE_SIZE=36
WW_MAX_PAGES=5
WW_TIMEOUT_SECONDS=20
WW_DELAY_SECONDS=1
WW_COOKIE_STRING=
WW_SCRAPERAPI_KEY=
