# dbt specific
target/
dbt_packages/
logs/
dbt_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Sensitive files
profiles.yml
.user.yml
package-lock.yml

