project_id = "your-gcp-project-id"
region     = "australia-southeast1"

# Set to a multi-region like AU if preferred.
bucket_location      = "AU"
bucket_storage_class = "STANDARD"

artifact_registry_repository_id                      = "discount-mate-images"
artifact_registry_cleanup_delete_untagged_older_than = "30d"
artifact_registry_cleanup_dry_run                    = false

github_actions_service_account_id = "github-actions-prod"

default_labels = {
  application = "discount-mate"
  owner       = "platform"
}
