name: Python Scraper Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11.8'  # Specify the Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set up environment variables
      run: |
        echo "MONGO_USERNAME=discountmate" >> .env
        echo "MONGO_PASSWORD=discountmate1" >> .env

    - name: Run Scraper
      run: |
        python path/to/your_script.py

    - name: Upload MongoDB logs
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: logs
        path: mongodb_logs.txt
